[run]

omit =
    **/migrations/*
    **/south_migrations/*
    **/management/commands/*
    **/settings/*
    **/wsgi.py
    **/tests/*
    **/wsgi.py
    **/manage.py
    setup.py

source = .

branch = True
