# Ignore everything
**

# Include
!/install/**
!/storage_service/**
!/tests/**
!/pyproject.toml
!/.markdownlint.jsonc
!/.pre-commit-config.yaml
!/CHANGELOG.md
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/LICENSE
!/Makefile
!/README.md
!/SECURITY.md
!/requirements*
