src/archivematica/storage_service/locale/**/*.po linguist-generated=true
src/archivematica/storage_service/vue/lib/shared/i18n/locales/*.json linguist-generated=true
**/fixtures/** linguist-generated=true
