*.py[co]
*.swp
*~

# Sqlite DBs
*.db

# Sphinx docs
/docs/_build

# The absolute path to the directory where collectstatic will collect static
# files for deployment (base.py:STATIC_ROOT).
/storage_service/assets/

# Compiled translation files
*.mo

# Coverage data
.coverage
