# Base requirements - for all installations
bagit
boto3
brotli
Django>=4.2,<5
django-csp
django-tastypie
dj-database-url
gevent
gunicorn
importlib_resources
jsonfield
lxml
metsrw
python-gnupg
python-keystoneclient
python-swiftclient
requests
git+https://github.com/artefactual-labs/python-client-sword2.git@619ee44467dcdb2ab75fab16864ea2e4ded7ffe4#egg=sword2
whitenoise
agentarchives
git+https://github.com/artefactual-labs/django-shibboleth-remoteuser.git@f08a7864d6130416c352981ccf318fff0fd5be58#egg=django-shibboleth-remoteuser
prometheus_client
django-prometheus

# LDAP support
python-ldap
django-auth-ldap

# CAS authentication
django-cas-ng

# Required for OpenID Connect authentication
mozilla-django-oidc
