# Base requirements - for all installations
bagit
boto3
brotli
Django>=3.2,<4
django-csp
django-tastypie
dj-database-url
gevent
gunicorn
importlib_resources
jsonfield
lxml
git+https://github.com/artefactual-labs/mets-reader-writer.git@610065dd77291a675c55960044014d394899bc7a#egg=metsrw
python-gnupg
python-keystoneclient
python-swiftclient
requests~=2.27; python_version == "3.6"
requests
git+https://github.com/swordapp/python-client-sword2.git@59db54c03e4498dd6b001ac4f3a4167aa2fb8987#egg=sword2
whitenoise>=5.3.0,<6.0; python_version == "3.6"
whitenoise
agentarchives
git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git@962f6f9818683ef5f6432f091d22945e54b82592#egg=django-shibboleth-remoteuser
prometheus_client
django-prometheus>=2.2,<2.3; python_version == "3.6"
django-prometheus

# LDAP support
python-ldap
django-auth-ldap

# CAS authentication
django-cas-ng

# Required for OpenID Connect authentication
mozilla-django-oidc~=2.0; python_version == "3.6"
mozilla-django-oidc
