{% extends "base.html" %}
{% load i18n %}


{% block sidebar %}
<div class='span2 row sidebar'>
  {% include 'snippets/administration_description.html' %}
  <ul>
    <li><a href="{% url 'administration:settings_edit' %}">{% trans "Configuration" %}</a></li>
    <li><a href="{% url 'administration:user_list' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'administration:version' %}">{% trans "Version" %}</a></li>
    <li><a href="{% url 'locations:callback_list' %}">{% trans "Service callbacks" %}</a></li>
    <li><a href="{% url 'administration:key_list' %}">{% trans "Encryption keys" %}</a></li>
    <li><a href="{% url 'administration:change_language' %}">{% trans "Language" %}</a></li>
  </ul>
</div>
{% endblock sidebar %}
