{% extends "base.html" %}

{% block page_title %}GPG Key {{ key.fingerprint }} Information{% endblock %}

{% block content %}

<div class='key'>
  <dl>
    <dt>UIDs</dt>
    <dd>{{ key.uids|join:", " }}</dd>
    <dt>Fingerprint</dt>
    <dd>{{ key.fingerprint }}</dd>
    <dt>Keyid</dt>
    <dd>{{ key.keyid }}</dd>
    <dt>Private Key ASCII Armor</dt>
    <dd><pre>{{ private_armor }}</pre></dd>
    <dt>Public Key ASCII Armor</dt>
    <dd><pre>{{ public_armor }}</pre></dd>
    <dt>Actions</dt>
      <dd>
        <ul>
          <li><a href="{% url 'key_delete' key.fingerprint %}?next={{ request.path }}">Delete</a></li>
        </ul>
      </dd>
  </dl>
</div>

{% endblock %}

