{% extends "administration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Encryption Keys" %}{% endblock %}

{% block content %}

  <p><a href="{% url 'administration:key_create' %}">{% trans "Create New Key" %}</a>
     &nbsp;|&nbsp;
     <a href="{% url 'administration:key_import' %}">{% trans "Import Existing Key" %}</a></p>
  <table class="datatable">
    <thead>
      <tr>
        <th>{% trans "User ID(s)" %}</th>
        <th>{% trans "Fingerprint" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    {% for key_display in keys %}
      <tr>
        <td><a href="{% url 'administration:key_detail' key_display.fingerprint %}"
               >{{ key_display.uids|join:", " }}</a></td>
        <td>{{ key_display.fingerprint }}</td>
        <td><a href="{% url 'administration:key_delete' key_display.fingerprint %}?next={{ request.path }}">{% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
