{% extends "administration/base.html" %}

{% block page_title %}{{action}} User{% endblock %}

{% block content %}

<div class='user'>
    {% if edit_user %}
    <form action="{% url 'user_edit' edit_user.id %}" method="post">
    {% else %}
    <form action="{% url 'user_create' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {{ user_form.as_p }}
      <input type="submit" name='user' value="{{action}} user" />
    </form>

    {% if edit_user %}
    <form action="{% url 'user_edit' edit_user.id %}" method="post">
      {% csrf_token %}
      {{ password_form.as_p }}
      <input type="submit" name='password' value="Change Password" />
    </form>
    {% endif %}

</div>
{% endblock %}
