interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apitest.dataverse.org/api/search/?sort=name&show_entity_ids=True&q=%2A&start=0&key=testkeys-77a8-49a3-874e-be1148e7c970&per_page=50&type=dataset&order=asc
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"*","total_count":15,"start":0,"spelling_alternatives":{},"items":[{"name":"Ad
        hoc observational study of the trees outside my window","type":"dataset","url":"http://dx.doi.org/10.5072/FK2/D3B38B","image_url":"https://apitest.dataverse.org/api/access/dsCardImage/39","global_id":"doi:10.5072/FK2/D3B38B","description":"Very
        few parameters were used for this highly subjective study.","published_at":"2015-08-06T20:56:12Z","citation":"McLellan,
        Evelyn, 2015, \"Ad hoc observational study of the trees outside my window\",
        <a href=\"http://dx.doi.org/10.5072/FK2/D3B38B\">http://dx.doi.org/10.5072/FK2/D3B38B</a>,  API
        Test Dataverse,  V5","entity_id":82,"authors":["McLellan, Evelyn"]},{"name":"Constitive
        leaf ORAC","type":"dataset","url":"http://dx.doi.org/10.5072/FK2/RDL8U6","image_url":"https://apitest.dataverse.org/api/access/dsCardImage/6","global_id":"doi:10.5072/FK2/RDL8U6","description":"ORAC","published_at":"2015-07-01T01:50:08Z","citation":"barboza,
        dags, 2015, \"Constitive leaf ORAC\", <a href=\"http://dx.doi.org/10.5072/FK2/RDL8U6\">http://dx.doi.org/10.5072/FK2/RDL8U6</a>,  API
        Test Dataverse,  V1","entity_id":25,"auth[...]
[...]
