interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://demodv.scholarsportal.info/api/search/?q=%2A&sort=name&key=51c64df4-abd7-4613-af21-6a68715dca92&start=0&per_page=50&show_entity_ids=True&type=dataset&order=asc
  response:
    body: {string: "{\"status\":\"OK\",\"data\":{\"q\":\"*\",\"total_count\":59,\"start\":0,\"spelling_alternatives\":{},\"items\":[{\"name\":\"3D
        Laser Images of a road cut at Ivy Lea, Ontario (2007), underground in Sudbury,
        Ontario (2007), underground in Thompson, Manitoba (2009) [test]\",\"type\":\"dataset\",\"url\":\"https://doi.org/10.5072/FK2/HAQQUC\",\"global_id\":\"doi:10.5072/FK2/HAQQUC\",\"description\":\"Three-dimensional
        (3D) laser imaging has recently emerged as a tool for rock mass characterization.
        Each image is a digital representation of the rock face and is composed of
        millions of 3D points. An individual data point is composed of a measurement
        along the X-, Y-, and Z-axes. This data set was acquired as part of a PhD
        thesis entitled, Three-Dimensional Laser Imaging for Rock Mass Characterization.
        The image data was acquired in 3 field trials over the course of the thesis.
        Specif ically, the image data is from (1) a road cut at Ivy Lea, Ontario,
        (2) an underground mine in Sudbury, Ontario, and (3) an underground mine in
        Thompson, Manitoba. Each image contains information that can be used for rock
        mass characterization. In the PhD thesis, the images were analyzed to (1)
        measure joint orientation and (2) surface roughness from 3D data. A third
        objective was to (3) remove the obstructive wire mesh from 3D data.\",\"published_at\":\"2018-05-22T19:45:15Z\",\"citationHtml\":\"Jason
        Mah; Claire Samson; Steve McKinnon, 2018, \\\"3D Laser Images of a road cut
        at Ivy Lea, Ontario (2007), underground in Sudbury, Ontario (2007), underground
        in Thompson, Manitoba (2009) [test]\\\", <a href=\\\"https://doi.org/10.5072/FK2/HAQQUC\\\"
        target=\\\"_blank\\\">https://doi.org/10.5072/FK2/HAQQUC</a>, Root Dataverse,
        V2\",\"citation\":\"Jason Mah; Claire Samson; Steve McKinnon, 2018, \\\"3D
        Laser Images of a road cut at Ivy Lea, Ontario (2007), underground in Sudbury,
        Ontario (2007), underground in Thompson, Manitoba (2009) [test]\\\", https://doi.org/10.5072/FK2/HAQQUC,
        Root Dataverse, V2\",\"entity_id\":1016,\"authors\":[\"Jason Mah\",\"Claire
        Samson\",\"Steve McKinnon\"]},{\"name\":\"A study of my afternoon drinks \",\"type\":\"dataset\",\"url\":\"https://doi.org/10.5072/FK2/6PPJ6Y\",\"global_id\":\"doi:10.5072/FK2/6PPJ6Y\",\"description\":\"Photos
        with my drinks, and a tabular file with some data on drinks.\",\"published_at\":\"2018-05-09T20:45:27Z\",\"citationHtml\":\"Tester,
        Archivematica, 2018, \\\"A study of my afternoon drinks\\\", <a href=\\\"https://doi.org/10.5072/FK2/6PPJ6Y\\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://demodv.scholarsportal.info/api/search/?q=%2A&sort=name&key=51c64df4-abd7-4613-af21-6a68715dca92&start=10&per_page=50&show_entity_ids=True&type=dataset&order=asc
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"*","total_count":59,"start":10,"spelling_alternatives":{},"items":[{"name":"Depress","type":"dataset","url":"https://doi.org/10.5072/FK2/NNTESQ","global_id":"doi:10.5072/FK2/NNTESQ","description":"Depressing
        data","published_at":"2017-08-09T17:59:02Z","citationHtml":"Manuel, Kevin,
        2017, \"Depress\", <a href=\"https://doi.org/10.5072/FK2/NNTESQ\" target=\"_blank\">https://doi.org/10.5072/FK2/NNTESQ</a>,
        Root Dataverse, V1, UNF:6:08UsvQXuLqTKseBaQf77Xw==","citation":"Manuel, Kevin,
        2017, \"Depress\", https://doi.org/10.5072/FK2/NNTESQ, Root Dataverse, V1,
        UNF:6:08UsvQXuLqTKseBaQf77Xw==","entity_id":115,"authors":["Manuel, Kevin"]},{"name":"ECM
        Dataset","type":"dataset","url":"https://doi.org/10.5072/FK2/PBKZTJ","global_id":"doi:10.5072/FK2/PBKZTJ","description":"This
        dataset represents the user information from ECM.","published_at":"2018-05-30T18:51:23Z","citationHtml":"Tsai,
        Ming, 2018, \"ECM Dataset\", <a href=\"https://doi.org/10.5072/FK2/PBKZTJ\"
        target=\"_blank\">https://doi.org/10.5072/FK2/PBKZTJ</a>, Root Dataverse,
        V1, UNF:6:vbaeRHXPbstnCHjK+jgkTg==","citation":"Tsai, Ming, 2018, \"ECM Dataset\",
        https://doi.org/10.5072/FK2/PBKZTJ, Root Dataverse, V1, UNF:6:vbaeRHXPbstnCHjK+jgkTg==","entity_id":1128,"authors":["Tsai,
        Ming"]},{"name":"Field data ","type":"dataset","url":"https://doi.org/10.5072/FK2/ZIJ7P8","global_id":"doi:10.5072/FK2/ZIJ7P8","description":"This
        is my data from field work.","published_at":"2017-11-29T21:06:09Z","citationHtml":"Brodeur,
        Jason, 2017, \"Field data\", <a href=\"https://doi.org/10.5072/FK2/ZIJ7P8\"
        target=\"_blank\">https://doi.org/10[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://demodv.scholarsportal.info/api/v1/datasets/1016/versions/:latest?sort=name&order=asc&key=51c64df4-abd7-4613-af21-6a68715dca92
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"id":288,"versionNumber":2,"versionMinorNumber":0,"versionState":"RELEASED","productionDate":"Production
        Date","lastUpdateTime":"2018-05-22T19:45:15Z","releaseTime":"2018-05-22T19:45:15Z","createTime":"2018-05-22T19:16:50Z","license":"NONE","termsOfUse":"This
        dataset is licenced under a Creative Commons Attribution-Noncommercial licence
        https://creativecommons.org/licenses/by-nc/4.0/","restrictions":"The following
        data set is provided for academic purposes only. Any publications using this
        data set must reference (1) this data archive and/or (2) any of the publications
        listed. This data set is not to be used for commercial purposes.","citationRequirements":"The
        publishing of analysis and results from research using this data is permitted
        in research communications such as scholarly papers, journals and the like.
        The author(s) of these communications are required to cite the author as the
        source of the data and to indicate that the results or views expressed are
        those of the author/authorized user.","disclaimer":"The original collector
        of the data bears no responsibility for use of this collection or for interpretation
        or inference upon such use.","metadataBlocks":{"citation":{"displayName":"Citation
        Metadata","fields":[{"typeName":"title","multiple":false,"typeClass":"primitive","value":"3D
        Laser Images of a road cut at Ivy Lea, Ontario (2007), underground in Sudbury,
        Ontario (2007), underground in Thompson, Manitoba (2009) [test]"},{"typeName":"subtitle","multiple":false,"typeClass":"primitive","value":"Test
        subtitle"},{"typeName":"alternativeTitle","multiple":false,"typeClass":"primitive","value":"Test
        alternative title"},{"typeName":"author","multiple":true,"typeClass":"compound","value":[{"authorName":{"typeName":"authorName","multiple":false,"typeClass":"primitive","value":"Jason
        Mah"},"authorAffiliation":{"typeName":"authorAffiliation","multiple":false,"typeClass":"primitive","value":"Carlton
        University"}},{"authorName":{"typeName":"authorName","multiple":false,"typeClass":"primitive","value":"Claire
        Samson"},"authorAffiliation":{"typeName":"authorAffiliation","multiple":false,"typeClass":"primitive","value":"Carlton
        University"}},{"authorName":{"typeName":"authorName","multiple":false,"typeClass":"primitive","value":"Steve
        McKinnon"},"authorAffiliation":{"typeName":"authorAffiliation","multiple":false,"typeClass":"primitive","value":"Queen''s
        University"}}]},{"typeName":"datasetContact","multiple":true,"typeClass":"compound","value":[{"datasetContactName":{"typeName":"datasetContactName","multiple":false,"typeClass":"primitive","value":"Data
        Services"},"datasetContactAffiliation":{"typeName":"datasetContactAffiliation","multiple":false,"typeClass":"primitive","value":"Queen''s
        University"},"datasetContactEmail":{"typeName":"datasetContactEmail","multiple":false,"typeClass":"primitive","value":"meghan.goodchild@queensu.ca"}}]},{"typeName":"dsDescription","multiple":true,"typeClass":"compound","value":[{"dsDescriptionValue":{"typeName":"dsDescriptionValue","multiple":false,"typeClass":"primitive","value":"Three-dimensional
        (3D) laser imaging has recently emerged as a tool for rock mass characterization.
        Each image is a digital representation of the rock face and is composed of
        millions of 3D points. An individual data point is composed of a measurement
        along the X-, Y-, and Z-axes.\r\n\r\nThis data set was acquired as part of
        a PhD thesis entitled, Three-Dimensional Laser Imaging for Rock Mass Characterization.
        The image data was acquired in 3 field trials over the course of the thesis.
        Specif ically, the image data is from (1) a road cut at Ivy Lea, Ontario,
        (2) an underground mine in Sudbury, Ontario, and (3) an underground mine in
        Thompson, Manitoba.\r\n\r\nEach image contains information that can be used
        for rock mass characterization. In the PhD thesis, the images were analyzed
        to (1) measure joint orientation and (2) surface roughness from 3D data. A
        third objective was to (3) remove the obstructive wire mesh from 3D data."},"dsDescriptionDate":{"typeName":"dsDescriptionDate","multiple":false,"typeClass":"primitive","value":"2015-01-22"}}]},{"typeName":"subject","multiple":true,"typeClass":"controlledVocabulary","value":["Social
        Sciences"]},{"typeName":"keyword","multiple":true,"typeClass":"compound","value":[{"keywordValue":{"typeName":"keywordValue","multiple":false,"typeClass":"primitive","value":"Three-dimensional
        laser imaging "}},{"keywordValue":{"typeName":"keywordValue","multiple":false,"typeClass":"primitive","value":"3D
        laser imaging "}},{"keywordValue":{"typeName":"keywordValue","multiple":false,"typeClass":"primitive","value":"Rock
        mass characterization"}},{"keywordValue":{"typeName":"keywordValue","multiple":false,"typeClass":"primitive","value":"Surface
        roughness"}},{"keywordValue":{"typeName":"keywordValue","multiple":false,"typeClass":"primitive","value":"Joint
        orientation"}}]},{"typeName":"publication","multiple":true,"typeClass":"compound","value":[{"publicationCitation":{"typeName":"publicationCitation","multiple":false,"typeClass":"primitive","value":"Mah,
        J. 2012. PhD Thesis: Three-Dimensional Laser Imaging for Rock Mass Characterization.
        Carleton University."}},{"publicationCitation":{"typeName":"publicationCitation","multiple":false,"typeClass":"primitive","value":"Mah,
        J., Samson, C., McKinnon, S., and Thibodeau, D. 2013. 3D laser imaging for
        surface roughness analysis. International Journal of Rock Mechanics and Mining
    [...]
