{% extends "base.html" %}
{% load i18n %}

{% block extra_css %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}frontend/storage-service-frontend.css" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block data_features %}clipboard-field{% endblock %}

{% block page_title %}{% blocktrans %}GPG Key {{ key.fingerprint }} Information{% endblocktrans %}{% endblock %}

{% block content %}

<div class='key'>
  <dl>
    <dt>{% trans "Fingerprint" %}</dt>
    <dd>{{ key.fingerprint }}</dd>
    <dt>{% trans "Keyid" %}</dt>
    <dd>{{ key.keyid }}</dd>
    <dt>{% trans "Public Key ASCII Armor" %}</dt>
    <dd><pre>{{ public_armor }}</pre></dd>
    <dt>{% trans "Actions" %}</dt>
      <dd>
        <ul>
          <li><a href="{% url 'administration:key_delete' key.fingerprint %}?next={% url 'administration:key_list' %}">{% trans "Delete" %}</a></li>
        </ul>
      </dd>
  </dl>
</div>

{% endblock %}
