
{% extends "administration/base.html" %}
{% load i18n %}

{% block page_title %}{{ action }}{% endblock %}

{% block content %}

<div class='user'>
    <dl>
      <dt>{% trans "Username" %}</dt>
      <dd>{{ user.username }}</dd>
      <dt>{% trans "Name" %}</dt>
      <dd>{{ user.get_full_name }}</dd>
      <dt>{% trans "E-mail" %}</dt>
      <dd>{{ user.email }}</dd>
      {% if display_user.api_key %}
        <dt>{% trans "API key" %}:</dt>
        <dd><code>{{ display_user.api_key.key }}</code></dd>
      {% endif %}
    </dl>
</div>
{% endblock %}
