body {
    font-size:100%;
}

h1 {
    font-size:2em;
}

h2 {
    font-size: 1.8em;
    margin-top: 1em;
}

p {
    font-size:0.875em;
}

.row {
    display: table-row;
    margin-left: 0;
}
.sidebar ul,
.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 4px 6px;
}

div.sidebar {
    width: 15%;
    min-width: 120px;
}

form ul {
  margin-left: 0px;
}

form li {
  list-style-type: none;
  padding-left: 0px;
}

.btn {
  margin: .15em;
}
