{% extends "base.html" %}

{% block page_title %}{{ header }}{% endblock %}

{% block content %}

<p>{{ prompt }}</p>

{% regroup dependent_objects by model as dependent_grouped %}
<dl>
    {% for model in dependent_grouped %}
        <dt>{{ model.grouper }}</dt>
        {% for rule in model.list %}
            <dd>{{ rule.value }}</dd>
        {% endfor %}
    {% endfor %}
</dl>

<form method="POST" action="">
  {% csrf_token %}
  <input type="hidden" name="__confirm__" value="1" />
  {% if not dependent_objects %}
    <input type="submit" value="Delete" class='btn primary' />
  {% endif %}
  <a href="{{ cancel_url }}" class='btn'>Cancel</a>
</form>

{% endblock %}
