{% extends "base.html" %}

{% block page_title %}All Locations{% endblock %}

{% block content %}

{% if locations %}
  <table class="datatable">
    <thead>
      <tr>
        <th>Purpose</th>
        <th>Pipeline</th>
        <th>Path</th>
        <th>Description</th>
        <th>Space</th>
        <th>Usage</th>
      </tr>
    </thead>
    <tbody>
    {% for loc in locations %}
      <tr>
        <td>{{ loc.get_purpose_display }}</td>
        <td>{{ loc.pipeline }}</td>
        <td>{{ loc.full_path }}</td>
        <td>{{ loc.description|default:"None" }}</td>
        <td><a href="{% url 'space_detail' loc.space.uuid %}">{{ loc.space.uuid|truncatechars:10 }}</a></td>
        <td>{{ loc.used }}B / {{ loc.quota|default:"unlimited" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No locations currently exist.  Please create one from the <a href="{% url 'space_list' %}">spaces</a> page.</p>
{% endif %}

{% endblock %}
