{% extends "base.html" %}

{% block page_title %}{{ action }} Location{% endblock %}

{% block content %}

<div class='space'>
    {% if location %}
    <form action="{% url 'location_edit' space.uuid location.uuid %}" method="post">
    {% else %}
    <form action="{% url 'location_create' space.uuid %}" method="post">
    {% endif %}
      {% csrf_token %}
        <p>Space: {{ space }}</p>
        {{ form.as_p }}
        <input type="submit" value="{{ action }} Location" />
    </form>
</div>
{% endblock %}
