{% extends "base.html" %}

{% block page_title %}{{ pipeline.description }} Information{% endblock %}

{% block content %}

<div class='pipeline'>
  <dl>
    <dt>UUID</dt> <dd>{{ pipeline.uuid }}</dd>
    <dt>Description</dt> <dd>{{ pipeline.description|default:"&lt;None&gt;" }}</dd>
    <dt>Remote name</dt> <dd>{{ pipeline.remote_name|default:"&lt;None&gt;" }}</dd>
    <dt>API Username / Key</dt> <dd> {{ pipeline.api_username|default:"&lt;None&gt;" }} / {{ pipeline.api_key|default:"&lt;None&gt;" }}</dd>
    <dt>Enabled</dt> <dd>{{ pipeline.enabled|yesno:"Enabled,Disabled" }}</dd>
    <dt>Actions</dt> <dd>
      <ul>
        <li><a href="{% url 'pipeline_edit' pipeline.uuid %}">Edit</a></li>
        <li><a href="{% url 'pipeline_switch_enabled' pipeline.uuid %}?next={{ request.path }}">{{ pipeline.enabled|yesno:"Disable,Enable" }}</a></li>
        <li><a href="{% url 'pipeline_delete' pipeline.uuid %}">Delete</a></li>
      </ul>
    </dd>
  </dl>
</div>

<h2>Locations</h2>

{% if locations %}
  {% include "snippets/locations_table.html" with no_pipeline=True %}
{% else %}
  <p>No locations currently exist.  Please create one from the <a href="{% url 'space_list' %}">spaces</a> page.</p>
{% endif %}

{% endblock %}
