Source: archivematica-storage-service
Section: utils
Priority: extra
Maintainer: Artefactual Systems Inc. <ops@artefactual.com>
Build-Depends: 
    python (>= 2.7.3),
    debhelper (>= 9),
    libxml2-dev,
    libxslt-dev,
    python-dev,
    dh-virtualenv
Standards-Version: 3.9.3
X-Python-Version: 2.7

Package: archivematica-storage-service
Architecture: i386 amd64
Depends: ${python:Depends}, ${misc:Depends}, python-lxml, nginx, unar (>= 1.8.1-4~), uwsgi, uwsgi-plugin-python
Description: Django webapp for managing storage in an Archivematica
    installation.
Homepage: http://archivematica.org
