{% load i18n %}
  <table class="datatable">
    <thead>
      <tr>
        <th>{% trans "Event" %}</th>
        <th>{% trans "URI" %}</th>
        <th>{% trans "Method" %}</th>
        <th>{% trans "Expected response" %}</th>
        <th>{% trans "UUID" %}</th>
        <th>{% trans "Enabled" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for callback in callbacks %}
      <tr>
        <td>{{ callback.event }}</td>
        <td>{{ callback.uri }}</td>
        <td>{{ callback.method }}</td>
        <td>{{ callback.expected_status }}</td>
        <td>{{ callback.uuid }}</td>
        <td>{{ callback.enabled|yesno:_("Enabled,Disabled") }}</td>
        <td><a href="{% url 'callback_edit' callback.uuid %}">{% trans "Edit" %}</a> | <a href="{% url 'callback_switch_enabled' callback.uuid %}?next={{ request.path }}">{{ callback.enabled|yesno:_("Disable,Enable") }}</a> | <a href="{% url 'callback_delete' callback.uuid %}?next={{ request.path }}">{% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
