{% load i18n %}
  <table class="datatable">
    <thead>
      <tr>
        <th>{% trans "Purpose" %}</th>
        {% if not no_pipeline %}
        <th>{% trans "Pipeline" %}</th>
        {% endif %}
        <th>{% trans "Path" %}</th>
        <th>{% trans "Description" %}</th>
        {% if not no_space %}
        <th>{% trans "Space" %}</th>
        {% endif %}
        <th>{% trans "UUID" %}</th>
        <th>{% trans "Usage" %}</th>
        <th>{% trans "Enabled" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for loc in locations %}
      <tr>
        <td>{{ loc.get_purpose_display }}</td>
        {% if not no_pipeline %}
          <td>
          {% for p in loc.pipeline.all %}
            <a href="{% url 'pipeline_detail' p.uuid %}">{{ p.description }}</a>,
          {% empty %}
          <p>{% trans "No pipelines" %}</p>
          {% endfor %}
          </td>
        {% endif %}
        <td>{{ loc.full_path }}</td>
        <td><a href="{% url 'location_detail' loc.uuid %}">{{ loc.description|default:"None" }}</a></td>
        {% if not no_space %}
          <td><a href="{% url 'space_detail' loc.space.uuid %}">{{ loc.space.uuid|truncatechars:11 }}</a></td>
        {% endif %}
        <td>{{ loc.uuid }}</td>
        <td>{{ loc.used }}B / {{ loc.quota|default:_("unlimited") }}</td>
        <td>{{ loc.enabled|yesno:_("Enabled,Disabled") }}</td>
        <td><a href="{% url 'location_edit' loc.space.uuid loc.uuid %}">{% trans "Edit" %}</a> | <a href="{% url 'location_switch_enabled' loc.uuid %}?next={{ request.path }}">{{ loc.enabled|yesno:_("Disable,Enable") }}</a> | <a href="{% url 'location_delete' loc.uuid %}?next={{ request.path }}">{% trans "Delete" %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
