  <table class="datatable">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Originating Pipeline</th>
        <th>Current Location</th>
        <th>Size</th>
        <th>Type</th>
        <th>Status</th>
        {% if delete_enabled %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for package in packages %}
      <tr>
        <td>{{ package.uuid }}</td>
        <td><a href="{% url 'pipeline_detail' package.origin_pipeline.uuid %}">{{ package.origin_pipeline }}</a></td>
        <td>{{ package.full_path }}</td>
        <td>{{ package.size|filesizeformat }}</td>
        <td>{{ package.get_package_type_display }}</td>
        <td>{{ package.get_status_display }}</td>
        {% if delete_enabled %}
        <td>
          {% if package.status in delete_statuses %}
          <a href="{% url 'package_delete' package.uuid %}">Delete</a>
          {% elif package.status == delete_requested %}
          <a href="{% url 'aip_delete_request' %}">See delete requests</a>
          {% endif %}
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
