{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Archivematica Storage Service" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jquery.dataTables.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{% trans "Archivematica Storage Service" %}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">{% trans "Home" %}</a></li>
              <li><a href="{% url 'pipeline_list' %}">{% trans "Pipelines" %}</a></li>
              <li><a href="{% url 'space_list' %}">{% trans "Spaces" %}</a></li>
              <li><a href="{% url 'location_list' %}">{% trans "Locations" %}</a></li>
              <li><a href="{% url 'package_list' %}">{% trans "Packages" %}</a></li>
              <li><a href="{% url 'settings_edit' %}">{% trans "Administration" %}</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block sidebar %}{% endblock sidebar %}

      <div class="row">
        <h1>{% block page_title %}{% trans "Archivematica Storage Service" %}{% endblock page_title %}</h1>

        {% for message in messages %}
          <div class='alert {% for tag in message.tags %}alert-{{tag}} {% endfor %}'>{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}js/jquery-dataTables.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- i18js catalog -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
