{% extends "base.html" %}
{% load i18n %}

{% block body %}
  <div class="container-fluid">
    {% block sidebar %}{% endblock sidebar %}

    <div class="row-fluid">
      <h1>{% block page_title %}{% trans "Archivematica Storage Service" %}{% endblock page_title %}</h1>

      {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock content %}
    </div>
  </div> <!-- /container -->
{% endblock %}
