{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans "Archivematica Storage Service" %}{% endblock page_title %}

{% block content %}

<p>{% trans "Welcome to the Archivematica Storage Service!  Here you can configure the storage accessible to your Archivematica pipelines." %}</p>

<h3>{% trans "Pipelines" %}</h3>
{% include "snippets/pipeline_description.html" %}

<h3>{% trans "Spaces" %}</h3>
{% include "snippets/space_description.html" %}

<h3>{% trans "Locations" %}</h3>
{% include "snippets/location_description.html" %}

<h3>{% trans "Packages" %}</h3>
{% include "snippets/package_description.html" %}

<h3>{% trans "Administration" %}</h3>
{% include "snippets/administration_description.html" %}

{% endblock content %}
